.btn,
.btn:active,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  width: max-content;
  margin-left: auto;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  background-color: #0ba360;
  border-radius: 0.5rem;
  border: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s all;
}

.btn:active {
  transform: scale(1.05);
}
