@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #b7f4d830;
  box-sizing: border-box;
}
